/* grid */
.sticky {
  background-color: $base10;

  &-top {
    @include sticky-top;
  }
  &-bottom {
    @include sticky-bottom;
  }
}

.fixed {
  background-color: $base10;

  &-top {
    @include fixed-top;
    width: 100%;
    max-width: $max-width;
  }
  &-bottom {
    @include fixed-bottom;
    width: 100%;
    max-width: $max-width;
  }
}

// .column-between {
//   $headerHeight: 6.875rem;

//   @include flex(column, center, between);
//   width: 100%;
//   height: calc(100% - $headerHeight);

//   &__title {
//     margin-bottom: 3.75rem;
//     font-size: 2.875rem;
//     font-weight: $font-medium;
//   }
//   &__top {
//     width: 100%;
//     padding: 3.75rem 3.375rem;
//   }
//   &__bottom {
//     width: 100%;

//     .btn--text {
//       margin-bottom: 3.125rem;
//       text-decoration-color: $base80;
//     }
//   }
// }

/* profile */
.profile {
  &__box {
    @include flex(row, center, center);
    border-radius: $radius-circle;
    background-color: $base10;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* line */
.line {
  display: block;
  width: 100%;
  height: 1.25rem;

  &--sm {
    height: 0.3125rem;
  }
}

.section {
  @include flex(column, start, between);
  height: 100vh;
  padding: 2.125rem 0 0;

  &__top {
    width: 100%;
    padding: 0 1.5rem 0;
  }
  &__title {
    margin-bottom: 2.125rem;
    font-size: 1.5rem;
    font-weight: $font-bold;
    font-family: 'NanumSquareNeo';
  }
  &__img {
    width: 10rem;
  }
  &__center {
    @include flex(column, center, center);
    width: 100%;
    height: 100%;

    .section__inner {
      @include flex(column, center, center);
      text-align: center;
    }
    .section__title {
      margin-bottom: 3.75rem;
      line-height: 1.5;
    }
  }
  &__bottom {
    width: 100%;
    padding: 2rem 1.5rem 2.5rem;
  }
}
