.btn {
  &__item {
    @include flex(row, center, center);
    height: 100%;
    font-size: $text-sm;

    &--circle {
      @include circle(6.25rem);
    }
    &--text {
      display: inline-block;
      width: unset;
      height: unset;
      background-color: $transparent;
      font-size: $text-sm;
      text-decoration: underline;
      text-underline-position: under;
    }
    &--text:disabled {
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
  }

  &--column {
    @include flex(column, center, center);
    width: 100%;
  }
  &--row {
    @include flex(row, center, center);
  }
  &--full {
    width: 100%;
    margin: 0 0 2.5rem;

    .btn__item {
      width: 100%;
      height: 3.5rem;
      border-radius: $radius-full;
      background: $gradation-primary;
      color: $base10;

      &:disabled {
        background-color: $base30;
        color: $base50;
      }
    }
    .btn__icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.625rem;
    }
  }
  &--square-round {
    .btn__item {
      border-radius: $radius-xs;
    }
  }
  &--round {
    .btn__item {
      border-radius: $radius-full;
    }
  }
  &__container {
    &--column {
      @include flex(column, center, center);
      width: 100%;

      .btn__item {
        margin-top: 0.625rem;

        &:first-child {
          margin-top: 0;
        }
      }
    }
    &--row {
      @include flex(row, center, center);

      .btn__item {
        margin-left: 0.625rem;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
